@use "../utils/mixin" as *;
@use "../base/colors" as *;

.container {
  @include container;
}

.container-reset {
  @include container-reset;
}

// .container-full-height {
//   height: 100svh;
// }

.container-color_featured {
  background-color: #e8e2d6;
}

.container-color_stats {
  background-color: #3b3836;
}

.container-color_contactus {
  background-color: #e8e4e1;
}
