@use "../base/colors" as *;

.btn {
  font-weight: 500;
  transition: 0.2s ease;
}

.btn-primary,
.btn-outline,
.btn-light {
  font-weight: 500;
}

.btn-primary {
  background-color: $clr-black;
  color: $clr-white-100;

  &:hover {
    background-color: $clr-black-50;
  }
}

.btn-outline {
  border: 1px solid $clr-brown-300;
  color: $clr-brown-300;

  &:hover {
    // background-color: $clr-deeptaupe;
  }
}

.btn-light {
  background-color: #d7d1cd;
  color: $clr-brown-300;

  &:hover {
    background-color: #877f7b;
  }
}
