.p-120 {
  padding: 120px 0;
}

.p-140 {
  padding: 140px 0;
}

// Margins

//margin left
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}

// margin top
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}

// margin bottom

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}
