// $clr-black: #0f0d12;
// $clr-black-100: #282828;
// $clr-black-200: #27252a;
// $clr-white: #f5f5f5;
// $clr-white-100: #f9f9f9;
// $clr-white-200: #ececec;
// $clr-white-300: #c5bcb3;
// $clr-white-400: #9c9792;
// $clr-deeptaupe: #796559;
// $clr-deeptaupe-300: #55473e;
// $clr-deeptaupe-600: #302824;
// $clr-deeptaupe-: #e4e0de;

//primary - brown
$clr-brown: #796559;
$clr-brown-50: #e4e0de;
$clr-brown-100: #c5bcb3;
$clr-brown-200: #55473e;
$clr-brown-300: #302824;

//secondary - black
$clr-black: #0f0d12;
$clr-black-50: #3f3d41;
$clr-black-100: #27252a;
$clr-black-200: #151217;
$clr-black-300: #080709;

// grey
$clr-grey: #878689;
$clr-grey-50: #c3c3c4;
$clr-grey-100: #6c6b6e;
$clr-grey-200: #515052;
$clr-grey-300: #363637;

// white
$clr-white: #f5f5f5;
$clr-white-50: #dddddd;
$clr-white-100: #c4c4c4;
$clr-white-200: #acacac;
$clr-white-300: #939393;
