@use "colors" as *;

:root {
  //colors
  --clr-primary: ;
  --clr-secondary: ;
  --clr-tertiary: ;
  --clr-accent: ;
  --clr-text-darK: ;
  --clr-text-light: ;

  //breakpoints = same as mantine
  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;
}
